<a href="https://colab.research.google.com/github/Samruddhi20-hue/ML-1/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
ds = pd.read_csv("/content/sample_data/admission (1).csv")

In [8]:
ds.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
print("\nFirst 5 rows of data:")
print(ds.head())

First 5 rows of data:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65

In [10]:
print("\nData Loaded Successfully!")

Data Loaded Successfully!

In [11]:
print("\nShape of Data (Rows, Columns):", ds.shape)

Shape of Data (Rows, Columns): (500, 9)

In [12]:
print("\nMissing Values in Each Column:")
print(ds.isnull().sum())

Missing Values in Each Column:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [13]:
print("\nData Types of Each Column:")
print(ds.dtypes)

Data Types of Each Column:
Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [14]:
print("\nCount of Zero Values in Each Column:")
print((ds == 0).sum())

Count of Zero Values in Each Column:
Serial No.             0
GRE Score              0
TOEFL Score            0
University Rating      0
SOP                    0
LOR                    0
CGPA                   0
Research             220
Chance of Admit        0
dtype: int64

In [15]:
print("\nSelecting first 10 rows of first 2 columns:")
print(ds.iloc[:10, :2])

Selecting first 10 rows of first 2 columns:
   Serial No.  GRE Score
0           1        337
1           2        324
2           3        316
3           4        322
4           5        314
5           6        330
6           7        321
7           8        308
8           9        302
9          10        323

In [16]:
sorted_ds = ds.sort_values(by=ds.columns[0])
print("\nSorted Data Based on First Column:")
print(sorted_ds.head())

Sorted Data Based on First Column:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65

In [17]:
print("\nStatistical Description of Data:")
print(ds.describe())

Statistical Description of Data:
       Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
count  500.000000  500.000000   500.000000         500.000000  500.000000
mean   250.500000  316.472000   107.192000           3.114000    3.374000
std    144.481833   11.295148     6.081868           1.143512    0.991004
min      1.000000  290.000000    92.000000           1.000000    1.000000
25%    125.750000  308.000000   103.000000           2.000000    2.500000
50%    250.500000  317.000000   107.000000           3.000000    3.500000
75%    375.250000  325.000000   112.000000           4.000000    4.000000
max    500.000000  340.000000   120.000000           5.000000    5.000000

            LOR         CGPA    Research  Chance of Admit
count  500.00000  500.000000  500.000000         500.00000
mean     3.48400    8.576440    0.560000           0.72174
std      0.92545    0.604813    0.496884           0.14114
min      1.00000    6.800000    0.000000           0.34000
25%      3.00000    8.127500    0.000000           0.63000
50%      3.50000    8.560000    1.000000           0.72000
75%      4.00000    9.040000    1.000000           0.82000
max      5.00000    9.920000    1.000000           0.97000

In [18]:
print("\nUnique Values in Each Column:")
for col in ds.columns:
    print(f"{col}: {ds[col].nunique()} unique values")

Unique Values in Each Column:
Serial No.: 500 unique values
GRE Score: 49 unique values
TOEFL Score: 29 unique values
University Rating: 5 unique values
SOP: 9 unique values
LOR : 9 unique values
CGPA: 184 unique values
Research: 2 unique values
Chance of Admit : 61 unique values

In [20]:
ds[ds.select_dtypes(include=['int64']).columns] = ds.select_dtypes(include=['int64']).astype('float64')

In [21]:
print("\nData Type Conversion Done!")
print(ds.dtypes)

Data Type Conversion Done!
Serial No.           float64
GRE Score            float64
TOEFL Score          float64
University Rating    float64
SOP                  float64
LOR                  float64
CGPA                 float64
Research             float64
Chance of Admit      float64
dtype: object